@{
    Layout = "_Layout";
    ViewBag.Stylesheets = new string[] { "index.css" };
}

<div class="bar">
    
</div>
<div class="app">
    <div class="app-chats">
        
    </div>
    <div class="app-chat">
        
    </div>
</div>