@import "node_modules/@forevolve/bootstrap-dark/dist/css/toggle-bootstrap";
@import "node_modules/@forevolve/bootstrap-dark/dist/css/toggle-bootstrap-dark";
@import "node_modules/@forevolve/bootstrap-dark/dist/css/toggle-bootstrap-print";

$app-margin: 20px;

@mixin main-colors ($color, $background-color) {
  background-color: $color;
  color: $background-color;
}

body {
  display: flex;
  flex-direction: column;
  &.bootstrap {
    background-color: lightgrey;
    & main {
      @include main-colors(black, white);
    }
  }
  &.bootstrap-dark {
    background-color: darkgray;
    & main {
      @include main-colors(white, black);
    }
  }
}

main {
  margin: 0 0 0 0;
  position: absolute;
  top: $app-margin;
  left: $app-margin;
  border-radius: 5px;
  width: calc(100vw - ($app-margin * 2));
  height: calc(100vh - ($app-margin * 2));
}
